* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILOS GENERALES PARA EL BODY FONDO DE LA APLICACION WEB */
body {
    background-color: rgb(7, 49, 49);
    min-height: 100vh;
    display: grid;
    place-items: center;
}


/* CONTENEDOR DE LA CALCULAORA  */
.calculadora {
    background-color: rgba(9, 72, 102, 0.651);
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 0.5px 1px 5px 3px rgba(9, 73, 102, 0.87);;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.7rem;
}


/* CONTENEDOR DEL TITULO PRINCIPAL ( Calculadora John Pacheco ) */
.titulo {
    grid-column: 1 / 5;
    font-family: fantasy;
    color:rgb(196, 70, 25);
}

/* SELECCIONA SOLO LA PARTE DEL TITULO ( Calculadora ) PARA DARLE ESTILOS PERSONALIZADOS */
span {
    color: rgba(255, 255, 255, 0.89);
    margin-right: 5rem;
    font-size: 20px;
}


/* CONTENEDOR DE LA PANTALLA  */
.pantalla {
    background-color: rgba(2, 22, 9, 0.651);
    color:white;
    grid-column: 1 / 5;
    text-align: right;
    padding: 3.5rem;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: inset  7px -7px 2px rgba(9, 73, 102, 0.555);
    font-size: 2rem;
}


/* ESTILOS PARA EL H3 DE LA PANTALLA ( 0 )   // MANIPULAR DOM */
.pantalla h3 {
    overflow: hidden;   /* EVITA QUE AL ESCRIBIR EN LA PANTALLA SE DESBORDE EL CONTENIDO DE SU CONTENEDOR */
    margin: 0 -45px -50px -40px;  /* POSICIONA EL NUMERO ( 0 ) */
}


/* CONTENEDOR DE LOS BOTONES GENERALES */
button{
    background-color: rgba(248, 242, 242, 0.568);
    font-size: bold;
    font-size: 30px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    box-shadow: 2px 2px 5px 5px rgba(248, 242, 242, 0.068);; 
    border: none;
    cursor: pointer;
    transition: .2s ease;
}

button:hover {
    background-color: rgb(197, 193, 193);
    transform: scale(1.05);
    border-radius: 50px;
}

/* ESTILO PARA LOS BOTONES PERSONALIZADOS ( 'AC', 'C', '=' ) */
.boton-personalizado {
    background-color: rgba(206, 52, 52, 0.788);
    
}

.boton-personalizado:hover {
    background-color: rgba(216, 15, 15, 0.849);
    color: rgba(245, 222, 179, 0.63);
}

/* ESTILO PARA LOS BOTONES OPERADORES PERSONALIZADOS ( '/', '+', '-', '*' ) */
.botones-operador {
    background-color: rgb(196, 70, 25);
    color: white;
}

.botones-operador:hover {
    background-color: rgb(241, 67, 4);
    color: rgba(245, 222, 179, 0.63);
}

/* ESTILOS PARA EL NUMERO 0 */cero {
    grid-column: span 2;
    border-radius: 20px;
}

/* ESTILOS PARA EL IGUAL */
#igual {
    grid-row: span 2 ;
    border-radius: 20px;
}
